<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bs/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Login | ZyPerpus</title>
</head>

<body>
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="row border rounded-5 p-3 bg-white shadow box-area">
            <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box"
                style="background: #103cbe;">
                <div class="featured-image mb-3">
                    <img src="{{ url_for('static', filename='images/1.png') }}" class="img-fluid" style="width: 250px;">
                </div>
                <p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">
                    ZyPerpus</p>
                <small class="text-white text-wrap text-center"
                    style="width: 17rem;font-family: 'Courier New', Courier, monospace;">Kembangkan Potensi Melalui
                    Literasi Digital</small>
            </div>
            <div class="col-md-6 right-box p-3">
                <div class="row align-items-center mt-1">
                    <div class="header-text mb-2 text-center">
                        <h4>Bergabunglah dengan Perpustakaan Digital</h4>
                    </div>
                    {% with faiz_messages = get_flashed_messages(with_categories=true) %}
                    {% if faiz_messages %}
                    {% for faiz_category, faiz_message in faiz_messages %}
                    <div class="alert alert-{{ faiz_category }} alert-dismissible fade show" role="alert">
                        {{ faiz_message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <form method="post" action="{{ url_for('signup') }}">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control form-control-lg bg-light fs-6"
                                placeholder="Nama Lengkap" name="namalengkap" required>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Username"
                                name="username" required minlength="6">
                        </div>
                        <div class="input-group mb-3">
                            <input type="email" class="form-control form-control-lg bg-light fs-6"
                                placeholder="Alamat Email" name="email" required>
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control form-control-lg bg-light fs-6"
                                placeholder="Kata Sandi" name="password" required minlength="8">
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control form-control-lg bg-light fs-6"
                                placeholder="Konfirmasi Kata Sandi" name="konfirmasipassword" required minlength="8">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Alamat"
                                name="alamat" required>
                        </div>
                        <div class="input-group mb-3">
                            <button class="btn btn-lg btn-primary w-100 fs-6">Daftar</button>
                        </div>
                    </form>
                    <div class="row">
                        <small>Sudah Mempunyai Akun? <a href="{{ url_for('login')}}">Masuk</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='bs/js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>